body.dark {
    background-color: #232323;
}

body.dark .top-bar {
    background-color: #1a1a1a;
}

body.dark .help path {
    fill: white;
}

body.dark .menu-bar-bar {
    background-color: #fff;
}

body.dark .help:hover {
    fill: #DDD
}

body.dark .help:active {
    fill: #bbb
}

body.dark .settings path {
    fill: white;
}

body.dark .settings:hover {
    fill: #DDD
}

body.dark .settings:active {
    fill: #bbb
}

body.dark .menu-div,
body.dark .settings-dropdown {
    background-color: #1f1f1f;
}

body.dark .title {
    color: white;
}

body.dark .menu-items,
body.dark .setting-items {
    color: white;
}

body.dark .menu-items:hover {
    background-color: #333;
}

body.dark .menu-items svg {
    fill: #fff;
}

body.dark .flip-box-front {
    background-color: #404040;
}

body.dark .attempt {
    color: white;
}

body.dark .statistics {
    color: #bebebe;
}

body.dark .statistic-box {
    background-color: #303030;
    color: white;
}

body.dark .stat-value {
    background-color: #505050;
    border: 5px solid #303030;
}

body.dark #attemptTable td {
    background-color: #555;
    color: white;
}

body.dark .pp-title {
    color: #fff
}

body.dark .pp-content {
    color: #dadada
}

body.dark .pp-subtitle,
body.dark .history-back {
    color: #87b1ff;
}

body.dark .history-back:hover {
    color: #87b1ff85;
}

body.dark .menu-others a,
body.dark .pp-date {
    color: #FFB1AD;
}

body.dark .menu-others svg path {
    fill: #FFB1AD;
}
